body{
    background-color: rgb(94, 4, 9);
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

    
}
.container{
    background-color: aquamarine;
    color: #f7eeee;
    padding: 20px;
    border-radius: 10px;
   

}
.input{
       width: 100%;
       font-size: 20px;
       height: 30px;
}
.monthlypayment{
    font-weight: 600;
    font-size: 20px;
}